<!-- <h1>BOINGO BONGO TRAVEL SITE </h1> -->
<div class="row cityHeader">
    <h1>Welcome to Boingo Bongo Travel Site!</h1>
    <p>We've got you covered. Ate bad falafel in Honduras? Let us know! Got hit in the face by a banana in Atlanta? Tell someone!</p>
    <h3><strong>Your opinion matters!</strong></h3>
</div>
<div class="row cityRow">
<% @cities.each do |city| %>
<div class="city-card col-sm-4">

<!-- <p>
<%= city.id %>
</p> -->
<div class="cityPhoto">
<%= image_tag city.photo_url, :class => "style_city_card"%>
<h1><%= city.name %></h1>
</div>
<div class="cityButton">
<%= link_to 'See Reviews', city_posts_path(city.id), {class: 'btn btn-info'}%>
</div>
</div>
<% end %>
</div>