<h1>BOINGO BONGO TRAVEL SITE </h1>

<% @cities.each do |city| %>
<p> City Name: 
<%= city.name %>
</p>
<p>
<%= city.id %>
</p>
<%= image_tag city.photo_url %>
<%= link_to city.name, city_posts_path(city.id), {class: 'btn btn-info'}%>
<% end %>