/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.style_city_card {
    position:relative;
    width:100%;
    margin-top:auto;
    margin-bottom:auto;
    padding-top:auto;
    padding-bottom:auto;
}
.row{
    width:90%;
    margin:auto;
}
.navbar{
    margin-bottom:0px;
}
.notice{
    max-height:10px;
}
.alert{
    max-height:10px;
}
.city_header{
    width:100%;
    padding-bottom:2em;
}
.footer{
    text-align:center;
    position: fixed;
    bottom:0;
    width:100%;
    height:2em;
}
.cityHeader{
    padding-top:1em;
    padding-bottom:2em;
    text-align:center;
}
.cityHeader h1{
    font-size:7em;
}
.cityHeader p{
    font-size:1.5em;
}
.cityRow{
    display:flex; 
    flex-wrap:wrap;
}
.cityPhoto{
    display:block;
    padding-bottom:0em;
    height:13em;
}
.cityPhoto h1{
    color:white;
    font-weight:800;
    position:absolute;
    bottom:3em;
    left:0;
    right:0;
    margin:auto;
    text-align:center;
}
.cityButton{
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.postHeader h1{
    color:white;
    font-weight:800;
    position:absolute;
    bottom:3em;
    left:0;
    right:0;
    margin:auto;
    text-align:center;
    font-size:10em;
}
.buttonRow{
    text-align:right;
}
.newReview h1{
    text-align:center;
}
.textbox1{
    line-height:1.75em;
    width:40%;
}
.textbox2{
    line-height:1.75em;
    width:90%;
}